.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    width: 100%; /* Pełna szerokość kontenera */
    height: auto; /* Automatyczna wysokość */
    object-fit: cover; /* Dostosowanie obrazu do kontenera */
}

h1, h2 {
    text-align: center; /* Wyśrodkowanie nagłówków */
    margin: 10px 0; /* Odstępy górne i dolne */
}

p {
    text-align: center; /* Wyśrodkowanie tekstu */
    margin: 0 0 20px; /* Odstępy dolne */
    line-height: 1.6; /* Lepsza czytelność tekstu */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%; /* Pełna szerokość */
    padding: 10px; /* Wewnętrzny padding */
    border: 1px solid #ccc; /* Dodanie granicy */
    border-radius: 4px; /* Zaokrąglone rogi */
    font-size: 16px; /* Zwiększenie rozmiaru czcionki */
}

.btn-primary {
    background-color: #272727; /* Kolor przycisku */
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #000000; /* Mniejszy kolor przy najechaniu */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Margines górny dla ikon społecznościowych */
}

.social-icon {
    margin: 0 15px; /* Odstęp między ikonami */
    font-size: 2rem;
    color: rgb(89, 86, 86);
    transition: color 0.3s;
}

.social-icon:hover {
    color: #000000; /* Zmiana koloru przy najechaniu */
}

.map-container {
    width: 100%;
    margin-top: 20px; /* Margines górny dla mapy */
}

.divider {
    border: none;
    border-top: 3px dashed #3c3c3c;
    width: 100%;
    margin: 20px 0; /* Margines górny i dolny dla separatora */
}

/* Media Queries */
@media (max-width: 768px) {
    .contact-container {
        padding: 15px; /* Mniejsze paddingi na mniejszych ekranach */
    }

    .form-container {
        padding: 15px; /* Mniejsze paddingi wewnętrzne w formularzu */
    }

    .social-icon {
        font-size: 1.5rem; /* Zmniejszenie rozmiaru ikon na mniejszych ekranach */
    }

    h1, h2 {
        font-size: 1.5rem; /* Zmniejszenie rozmiaru nagłówków na mniejszych ekranach */
    }

    p {
        font-size: 0.9rem; /* Zmniejszenie rozmiaru tekstu w opisie */
    }
}

@media (max-width: 480px) {
    .contact-image {
        max-height: 250px; /* Mniejsza maksymalna wysokość obrazu na bardzo małych ekranach */
    }
}
