.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Usunięcie paddingu */
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Wysokość na cały ekran */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Wyśrodkowanie tekstu */
}

.hero-image {
    width: 100%;
    height: 90%;
    object-fit: cover; /* Dostosowanie obrazu do kontenera */
    filter: brightness(70%); /* Przyciemnienie obrazu */
    position: absolute; /* Umożliwia nałożenie tekstu na obraz */
    top: 0;
    left: 0;
}

.about-section, .contact-section {
    max-width: 800px;
    margin: 20px 0;
    text-align: center;
}

.hero-text {
    position: relative; /* Umożliwia nałożenie tekstu na obraz */
    color: white; /* Kolor tekstu */
    z-index: 1; /* Ustala priorytet nad obrazem */
    padding: 20px; /* Padding dla tekstu */
    font-size: 3em;
    font-family: 'Roboto', serif;
}

/* Responsywne style dla urządzeń mobilnych */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 1.5rem; /* Mniejszy rozmiar czcionki dla nagłówka */
    }

    .hero-section p {
        font-size: 1rem; /* Mniejszy rozmiar czcionki dla tekstu */
    }

    .image-container {
        max-width: 100%; /* Pełna szerokość na urządzeniach mobilnych */
        padding: 0; /* Usunięcie paddingu */
    }

    .about-section h2,
    .contact-section h2 {
        font-size: 1.25rem; /* Mniejszy rozmiar czcionki dla nagłówków */
    }

    .about-section p,
    .contact-section p {
        font-size: 0.9rem; /* Mniejszy rozmiar czcionki dla tekstu */
    }
}

/* Dodatkowe style dla bardzo małych ekranów */
@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 1.25rem; /* Jeszcze mniejszy rozmiar czcionki dla nagłówka */
    }

    .hero-section p {
        font-size: 0.9rem; /* Jeszcze mniejszy rozmiar czcionki dla tekstu */
    }
}
