/* Logowanie */
.login-container {
    padding: 20px;
}

.image-header {
    text-align: center;
}

.login-image {
    width: 100%;
    height: auto;
}

.divider {
    border-top: 2px dashed #131313;
    margin: 20px 0;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #4e4e4e;
    color: white;
    border: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}
