/* Podstawowy styl dla kontenera */
.admin-camper-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;
}


/* Formularze */
.admin-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.admin-form input, .admin-form select, .admin-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.admin-form input[type="number"] {
    -moz-appearance: textfield;
}

/* Button */
.admin-form button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-form button:hover {
    background-color: #2980b9;
}

/* Styl dla listy kamperów */
.camper-list {
    margin-top: 40px;
}

.camper-card {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.camper-card h3 {
    color: #3498db;
    margin-bottom: 10px;
}

.camper-card p {
    margin: 5px 0;
}

.camper-card button {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.camper-card button:hover {
    background-color: #c0392b;
}

.camper-card button:focus {
    outline: none;
}

/* Responsywność */
@media (max-width: 768px) {
    .admin-camper-container {
        padding: 10px;
    }

    .admin-form, .camper-card {
        width: 100%;
        margin: 10px 0;
    }

    .admin-form input, .admin-form select, .admin-form button {
        font-size: 14px;
    }

    .camper-list {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 22px;
    }

    .admin-form input, .admin-form select, .admin-form button {
        font-size: 14px;
        padding: 8px;
    }

    .camper-card {
        padding: 10px;
    }

    .camper-card h3 {
        font-size: 18px;
    }
}
