.admin-insurances-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 80px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.form-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-container h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.form-container select,
.form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-container select:focus,
.form-container input:focus {
    border-color: #007bff;
    outline: none;
}


.selected-dates {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.selected-dates p {
    margin: 5px 0;
}

.add-button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}

.insurance-list {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.insurance-list h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

.insurance-card {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.warning {
    background-color: #d3d159;
}

.insurance-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.insurance-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .admin-insurances-container {
        padding: 30px;
    }

    .form-container {
        padding: 15px;
    }

    .add-button {
        font-size: 14px;
        padding: 10px;
    }

    .insurance-card {
        padding: 10px;
    }

    .insurance-list h3 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 22px;
    }

    .form-container h3,
    .insurance-list h3 {
        font-size: 16px;
    }

    .add-button {
        font-size: 14px;
        padding: 8px;
    }

    .insurance-card {
        padding: 8px;
    }

    .insurance-card p {
        font-size: 12px;
    }

    .calendar-container .react-calendar {
        font-size: 10px;
    }
}
