.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Umożliwia wypełnienie wysokości ekranu */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* Możesz zmienić na auto, aby nie blokować stopki */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  margin-top: auto; /* Umożliwia przesunięcie stopki na dół */
  background-color: #f1f1f1; /* Kolor tła stopki */
  padding: 20px; /* Padding dla stopki */
  text-align: center; /* Wyśrodkowanie tekstu w stopce */
  border-top: 1px solid #ccc; /* Delikatna linia u góry stopki */
}

/* Możesz dodać inne style CSS dla mediów, jeśli chcesz */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
